{
	"swagger": "2.0",
	"info": {
	  "version": "v1",
	  "title": "Datto|Autotask PSA Rest API"
	},
	"host": "webservices2.autotask.net",
	"basePath": "/ATServicesRest",
	"schemes": [
	  "https"
	],
	"paths": {
	  "/V1.0/ActionTypes/query": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes/{id}": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"delete": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_DeleteEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/OperationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes/query/count": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes": {
		"put": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_UpdateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_CreateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"patch": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_PatchEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ActionTypeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes/entityInformation": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes/entityInformation/fields": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ActionTypes/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"ActionTypes"
		  ],
		  "operationId": "ActionTypes_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/query": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AdditionalInvoiceFieldValueModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AdditionalInvoiceFieldValueModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/{id}": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AdditionalInvoiceFieldValueModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/query/count": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/entityInformation": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/entityInformation/fields": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AdditionalInvoiceFieldValues/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"AdditionalInvoiceFieldValues"
		  ],
		  "operationId": "AdditionalInvoiceFieldValues_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/VersionInformation": {
		"get": {
		  "tags": [
			"ApiVersion"
		  ],
		  "operationId": "ApiVersion_ApiVersionInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ApiVersionResultModel"
			  }
			}
		  }
		}
	  },
	  "/V1.0/Appointments/query": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments/{id}": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"delete": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_DeleteEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/OperationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments/query/count": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments": {
		"put": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_UpdateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_CreateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"patch": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_PatchEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AppointmentModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments/entityInformation": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments/entityInformation/fields": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/Appointments/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"Appointments"
		  ],
		  "operationId": "Appointments_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/query": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AttachmentInfoModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AttachmentInfoModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/{id}": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/AttachmentInfoModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/query/count": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/entityInformation": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/entityInformation/fields": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/AttachmentInfo/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"AttachmentInfo"
		  ],
		  "operationId": "AttachmentInfo_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/query": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingCodeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingCodeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/{id}": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingCodeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/query/count": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/entityInformation": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/entityInformation/fields": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingCodes/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"BillingCodes"
		  ],
		  "operationId": "BillingCodes_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/query": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemApprovalLevelModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemApprovalLevelModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/{id}": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemApprovalLevelModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/query/count": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels": {
		"post": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_CreateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/BillingItemApprovalLevelModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemApprovalLevelModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/entityInformation": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/entityInformation/fields": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItemApprovalLevels/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"BillingItemApprovalLevels"
		  ],
		  "operationId": "BillingItemApprovalLevels_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/query": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/{id}": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/query/count": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems": {
		"put": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_UpdateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"patch": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_PatchEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/BillingItemModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/entityInformation": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/entityInformation/fields": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/BillingItems/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"BillingItems"
		  ],
		  "operationId": "BillingItems_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/query": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/{id}": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"delete": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_DeleteEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/OperationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/query/count": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_UrlParameterQueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_QueryCount",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/QueryCountResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges": {
		"put": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_UpdateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_CreateEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"patch": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_PatchEntity",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "restModelInput",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeOrderChargeModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/entityInformation": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_QueryEntityInformation",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/EntityInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/entityInformation/fields": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_QueryFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/FieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeOrderCharges/entityInformation/userDefinedFields": {
		"get": {
		  "tags": [
			"ChangeOrderCharges"
		  ],
		  "operationId": "ChangeOrderCharges_QueryUserDefinedFieldDefinitions",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/UserDefinedFieldInformationResultModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeRequestLinks/query": {
		"get": {
		  "tags": [
			"ChangeRequestLinks"
		  ],
		  "operationId": "ChangeRequestLinks_UrlParameterQuery",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "search",
			  "in": "query",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeRequestLinkModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		},
		"post": {
		  "tags": [
			"ChangeRequestLinks"
		  ],
		  "operationId": "ChangeRequestLinks_Query",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "queryModel",
			  "in": "body",
			  "required": true,
			  "schema": {
				"$ref": "#/definitions/QueryModel"
			  }
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "UserName",
			  "in": "header",
			  "description": "User Name",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "Secret",
			  "in": "header",
			  "description": "Secret",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "ImpersonationResourceId",
			  "in": "header",
			  "description": "Impersonation Resource Key",
			  "required": false,
			  "type": "string"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/ChangeRequestLinkModel"
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  }
		}
	  },
	  "/V1.0/ChangeRequestLinks/{id}": {
		"get": {
		  "tags": [
			"ChangeRequestLinks"
		  ],
		  "operationId": "ChangeRequestLinks_QueryItem",
		  "consumes": [
			"application/json"
		  ],
		  "produces": [
			"application/json",
			"text/json"
		  ],
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "integer",
			  "format": "int64"
			},
			{
			  "name": "ApiIntegrationCode",
			  "in": "header",
			  "description": "API Integration Code",
			  "required": true,
			  "type": "string"
			},
			{
[...]
